html, body {
	font-family: Gotham, sans-serif;
	font-size: 16px;
}

.player-mat {
	perspective: 600px;
	perspective-origin: center;
}

.money {
	width: 2em;
	height: 2em;
	margin-top: -.1em;
	margin-left: .2em;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.9em;
	background-color: gold;
	text-align: center;
	border-radius: 100%;
	color: #FFF;
	text-shadow: -1px -1px 3px rgba(0,0,0,.3);
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.card {
	display: inline-block;
	margin-right: .5rem;
	border: 1px solid #999;
	border-radius: .5rem;
	padding: .5rem;
	width: 30vw;
	max-width: 200px;
	overflow: hidden;
	background-color: #F6F6F6;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	cursor: default;

	opacity: 0;
	transform: scale(.8) rotateX(40deg) translateZ(50px) translateY(100px);
	transform-origin: 50% 0%;
	transition: all .5s ease-in-out 0s;
}

/* name */
.card h3 {
	margin: -.5rem -.5rem ;
	padding: .5rem;
	background-color: #E9E9E9;
	text-align: center;
}

/* description */
.card h4 {
	font-size: 80%;
	text-align: center;
	font-weight: 300;
}

/* cost */
.card h6 {
	background-color: gold;
	border-radius: 100%;
	display: inline-block;
	margin-bottom: 0;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.6em;
	text-align: center;
	color: #FFF;
	text-shadow: -1px -1px 3px rgba(0,0,0,.3);
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.card.animate-in {
	transform: scale(1) rotateX(0deg) translateZ(0px) translateY(0px);
	opacity: 1;
}

.die {
	width: 3em;
	height: 3em;
	border-radius: .25rem;
	background-color: blue;
	color: #FFF;
	margin: .5rem;
	text-align: center;
	line-height: 3em;
	display: inline-block;
}

.die-2 {
	background-color: green;
}